<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cxyfyf.base.mapper.SysUserMapper">
    
    <resultMap type="cn.cxyfyf.base.domain.SysUser" id="sysUserResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="userName"    column="user_name"    />
        <result property="userType"    column="user_type"    />
        <result property="email"    column="email"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="pwdUpdateDate"    column="pwd_update_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="sqlAll">
         a.id, a.dept_id, a.login_name, a.user_name, a.user_type, a.email, a.phonenumber, a.sex, a.avatar, a.password, a.salt, a.status, a.del_flag, a.login_ip, a.login_date, a.pwd_update_date, a.create_by, a.create_time, a.update_by, a.update_time, a.remark    </sql>
    <sql id="tableName">
      sys_user a
    </sql>

    <select id="selectSysUserList" parameterType="cn.cxyfyf.base.domain.SysUser" resultMap="sysUserResult">
       select <include refid="sqlAll"/> from <include refid="tableName"/>
        <where>
            <if test="param.id != null "> and a.id = #{param.id}</if>
            <if test="param.deptId != null "> and a.dept_id = #{param.deptId}</if>
            <if test="param.loginName != null  and param.loginName != ''"> and a.login_name like concat('%', #{param.loginName}, '%')</if>
            <if test="param.userName != null  and param.userName != ''"> and a.user_name like concat('%', #{param.userName}, '%')</if>
            <if test="param.userType != null  and param.userType != ''"> and a.user_type = #{param.userType}</if>
            <if test="param.email != null  and param.email != ''"> and a.email like concat('%', #{param.email}, '%')</if>
            <if test="param.phonenumber != null  and param.phonenumber != ''"> and a.phonenumber like concat('%', #{param.phonenumber}, '%')</if>
            <if test="param.sex != null  and param.sex != ''"> and a.sex = #{param.sex}</if>
            <if test="param.avatar != null  and param.avatar != ''"> and a.avatar = #{param.avatar}</if>
            <if test="param.password != null  and param.password != ''"> and a.password = #{param.password}</if>
            <if test="param.salt != null  and param.salt != ''"> and a.salt = #{param.salt}</if>
            <if test="param.status != null  and param.status != ''"> and a.status = #{param.status}</if>
            <if test="param.delFlag != null  and param.delFlag != ''"> and a.del_flag = #{param.delFlag}</if>
            <if test="param.loginIp != null  and param.loginIp != ''"> and a.login_ip = #{param.loginIp}</if>
            <!-- <if test="param.beginLoginDate != null and param.beginLoginDate != '' and param.endLoginDate != null and param.endLoginDate != ''"> and entity.login_date between #{param.beginLoginDate} and #{param.endLoginDate}</if> -->
            <!-- <if test="param.beginPwdUpdateDate != null and param.beginPwdUpdateDate != '' and param.endPwdUpdateDate != null and param.endPwdUpdateDate != ''"> and entity.pwd_update_date between #{param.beginPwdUpdateDate} and #{param.endPwdUpdateDate}</if> -->
            <if test="param.createBy != null  and param.createBy != ''"> and a.create_by = #{param.createBy}</if>
            <!-- <if test="param.beginCreateTime != null and param.beginCreateTime != '' and param.endCreateTime != null and param.endCreateTime != ''"> and entity.create_time between #{param.beginCreateTime} and #{param.endCreateTime}</if> -->
            <if test="param.updateBy != null  and param.updateBy != ''"> and a.update_by = #{param.updateBy}</if>
            <!-- <if test="param.beginUpdateTime != null and param.beginUpdateTime != '' and param.endUpdateTime != null and param.endUpdateTime != ''"> and entity.update_time between #{param.beginUpdateTime} and #{param.endUpdateTime}</if> -->
            <if test="param.remark != null  and param.remark != ''"> and a.remark like concat('%', #{param.remark}, '%')</if>
        </where>
    </select>

    <select id="selectListByPage"  parameterType="cn.cxyfyf.base.domain.SysUser" resultMap="sysUserResult">
        select <include refid="sqlAll"/> from <include refid="tableName"/>
        <where>
            <if test="param.id != null "> and a.id = #{param.id}</if>
            <if test="param.deptId != null "> and a.dept_id = #{param.deptId}</if>
            <if test="param.loginName != null  and param.loginName != ''"> and a.login_name like concat('%', #{param.loginName}, '%')</if>
            <if test="param.userName != null  and param.userName != ''"> and a.user_name like concat('%', #{param.userName}, '%')</if>
            <if test="param.userType != null  and param.userType != ''"> and a.user_type = #{param.userType}</if>
            <if test="param.email != null  and param.email != ''"> and a.email like concat('%', #{param.email}, '%')</if>
            <if test="param.phonenumber != null  and param.phonenumber != ''"> and a.phonenumber like concat('%', #{param.phonenumber}, '%')</if>
            <if test="param.sex != null  and param.sex != ''"> and a.sex = #{param.sex}</if>
            <if test="param.avatar != null  and param.avatar != ''"> and a.avatar = #{param.avatar}</if>
            <if test="param.password != null  and param.password != ''"> and a.password = #{param.password}</if>
            <if test="param.salt != null  and param.salt != ''"> and a.salt = #{param.salt}</if>
            <if test="param.status != null  and param.status != ''"> and a.status = #{param.status}</if>
            <if test="param.delFlag != null  and param.delFlag != ''"> and a.del_flag = #{param.delFlag}</if>
            <if test="param.loginIp != null  and param.loginIp != ''"> and a.login_ip = #{param.loginIp}</if>
            <!-- <if test="param.beginLoginDate != null and param.beginLoginDate != '' and param.endLoginDate != null and param.endLoginDate != ''"> and entity.login_date between #{param.beginLoginDate} and #{param.endLoginDate}</if> -->
            <!-- <if test="param.beginPwdUpdateDate != null and param.beginPwdUpdateDate != '' and param.endPwdUpdateDate != null and param.endPwdUpdateDate != ''"> and entity.pwd_update_date between #{param.beginPwdUpdateDate} and #{param.endPwdUpdateDate}</if> -->
            <if test="param.createBy != null  and param.createBy != ''"> and a.create_by = #{param.createBy}</if>
            <!-- <if test="param.beginCreateTime != null and param.beginCreateTime != '' and param.endCreateTime != null and param.endCreateTime != ''"> and entity.create_time between #{param.beginCreateTime} and #{param.endCreateTime}</if> -->
            <if test="param.updateBy != null  and param.updateBy != ''"> and a.update_by = #{param.updateBy}</if>
            <!-- <if test="param.beginUpdateTime != null and param.beginUpdateTime != '' and param.endUpdateTime != null and param.endUpdateTime != ''"> and entity.update_time between #{param.beginUpdateTime} and #{param.endUpdateTime}</if> -->
            <if test="param.remark != null  and param.remark != ''"> and a.remark like concat('%', #{param.remark}, '%')</if>
        </where>
    </select>

</mapper>